.ui-slider {
  position: relative;
  width: 300px;
  margin-bottom: 32px;

  background-color: white;
}

.ui-slider-range {
  height: 2px;

  background-color: rgb(12, 28, 91);
}

.ui-slider-handle {
  position: absolute;
  left: 0;
  top: -16px;
  width: 32px;
  height: 32px;
  margin-left: -16px;

  background-color: rgb(12, 28, 91);

  border-radius: 50%;

  outline: none;
  cursor: pointer;
}

.slider__content {
  margin: 0;
  margin-left: auto;

  text-align: right;
}

.slider__input {
  display: none;
}

.slider__output {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-family: "Exo 2", "Helvetica", sans-serif;
}
